body{
    background:blue;
    background: -webkit-linear-gradient(to right, #185a9d, #9b43ce);
    background: linear-gradient(to right, #185a9d, #901cbe); 
}

.tamaño{
    width: 340px;
    height: 230px;
}
.container{
    margin-left: 15%;
    margin-right: 15%;
}

.nav-link.active{
    color: white;
}