body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2); 
}

.tamaño{
    width: 340px;
    height: 230px;
}


.nav-link.activo{
    color: #000;
    outline: 0 none;
}

.card-title{
    position: static;

   
    height: 30px ;
    width: max-content;
    font-size: 1vw;


    word-wrap: break-word;
    overflow: auto;
}
.card-text{
    font-size: 1vw;
    position: static;
    word-wrap: break-word;
    width: max-content;
    height: 30px ;
    
    overflow: auto;


}