body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2); 
}

.tamaño{
    width: 340px;
    height: 230px;
}


.nav-link.activo{
    color: #000;
    outline: 0 none;
}

.card-title{
    position: static;
    height: 45px ;
    width: 95%;
    word-wrap: break-word;
    overflow: auto;
}
.card-text{
    position: static;
    word-wrap: break-word;
    width: 95%;
    min-height: 45px ;
    overflow: auto;


}