body {
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #525457, #000000);  
background: linear-gradient(to right, #42464b, #000000); 
}
header {
    margin: 30px 0;
}
.contenido {
    padding:20px;
}


 input:focus, input.form-control:focus {

    outline: 0 none !important;  
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #000000;  /* #cccccc   mismo color original */
} 

/* .form-control:focus{ border-color: #cccccc; -webkit-box-shadow: none; box-shadow: none; }  */

.contenido-principal {
    background-color: rgba(102, 97, 97, 0.76);
    padding: 30px;
    border-radius: 20px;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 30px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}