/* .alert {
    text-align: center;
} */
.volver {
    color: #c2c6ca;
    max-width: 78px;
    min-height: 30px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left:  10px;
}


